/* movies/static/movies/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #eaf6f6; /* Light teal background */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #333; /* Dark gray text color */
}

.navbar {
    width: 100%;
    background-color: #85c1c1; /* Soft teal for navbar */
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* White text color */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin-bottom: 30px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #444; /* Slightly lighter gray text color */
}

form input[type="text"], form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #a2d2d2; /* Light teal border */
    border-radius: 4px;
    color: #555; /* Medium gray text color */
}

button {
    background-color: #85c1c1; /* Soft teal for buttons */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #6ba8a8; /* Slightly darker teal on hover */
}

.results {
    max-width: 600px;
    width: 100%;
}

.movie-item {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #a2d2d2;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.movie-item:hover {
    background-color: #d1ecec; /* Very light teal on hover */
}

.movie-details {
    display: none; /* Initially hide the movie details */
    padding-top: 10px;
    font-size: 14px;
}
